---
- name: Check Helm availability
  ansible.builtin.command: helm version --short
  register: _helm_probe
  failed_when: false

- name: Print Helm missing/error message and exit (if not installed)
  ansible.builtin.assert:
    that: _helm_probe is not failed
    fail_msg: |
      Helm is not installed or not on PATH.
      Try running your command again with the './pattern.sh' script, inside the
      utility-container, or locally after installing Helm 3 and verifying it is available on PATH.

- name: Report Helm version
  ansible.builtin.debug:
    msg: |
      {{ _helm_probe.stdout | trim }}
