---
- name: Check if upstream_url is set in values-global.yaml
  ansible.builtin.set_fact:
    _upstream_url: "{{ values_global.main.git.repoUpstreamURL | default('') | string | trim }}"

- name: Select origin URL to validate
  ansible.builtin.set_fact:
    _repo_to_check: >-
      {{
        _upstream_url if _upstream_url
        else target_remote_url
      }}

- name: Print validation message
  ansible.builtin.debug:
    msg: |
      Validating that branch '{{ target_branch }}' is reachable on remote repo '{{ _repo_to_check }}'

- name: Validate remote branch exists is reachable on remote repo
  ansible.builtin.command: git ls-remote --exit-code --heads {{ _repo_to_check }} {{ target_branch }}  # noqa: command-instead-of-module
  register: _lsremote
  failed_when: false

- name: Print error message on failure
  ansible.builtin.assert:
    that: _lsremote is not failed
    fail_msg: |
      Branch '{{ target_branch }}' is not reachable on remote repo '{{ _repo_to_check }}'.
      Ensure that your branch is pushed to the origin repo.
