---
- name: Pattern name and clustergroup name length validation
  block:
    - name: Get length of pattern name
      ansible.builtin.set_fact:
        _pattern_name_len: "{{ pattern_name | length }}"

    - name: Get length of target clustergroup
      ansible.builtin.set_fact:
        _clustergroup_name_len: "{{ target_clustergroup | length }}"

    - name: Ensure ArgoCD will have valid DNS hostname based on pattern name and clustergroup lengths
      ansible.builtin.assert:
        that: (_pattern_name_len | int) + 2 * (_clustergroup_name_len | int) < 47
        fail_msg: |
          A DNS-compatible name is constructed in the 'clustergroup' Helm chart using the following pattern:
            -> {%raw%}{{ .Values.clusterGroup.name }}-gitops-server-{{ .Values.global.pattern }}-{{ .Values.clusterGroup.name }}{%endraw%}
          To stay under the 63-character DNS limit, the variable part of the name must be less than 47 characters:
            (2 * length of 'clusterGroup.name') + length of 'global.pattern' < 47
          With your current values this DNS part is '{{ target_clustergroup }}-gitops-server-{{ pattern_name }}-{{ target_clustergroup }}' and exceeds the 63 character limit.

- name: Ensure kubernetes python module is installed
  ansible.builtin.pip:
    name: kubernetes
    state: present
    extra_args: "-q"

- name: Ensure kubernetes.core collection is installed
  community.general.ansible_galaxy_install:
    name: kubernetes.core
    type: collection

- name: Ensure multi source is enabled
  ansible.builtin.assert:
    that: (values_global.main.multiSourceConfig.enabled | default(false) | bool) == true
    fail_msg: "You must set '.main.multiSourceConfig.enabled' to 'true' in 'values-global.yaml'."
