---
- name: Get JWT role configuration
  kubernetes.core.k8s_exec:
    namespace: "{{ vault_ns }}"
    pod: "{{ vault_pod }}"
    command: >
      vault read auth/jwt/role/{{ jwt_role.name }} -format=json
  register: jwt_role_config_json
  changed_when: false
  failed_when: false

- name: Set jwt_role fact
  ansible.builtin.set_fact:
    jwt_role_exists: "{{ true if jwt_role_config_json.stdout_lines | length > 0 else false }}"

- name: Set JWT role configuration fact
  ansible.builtin.set_fact:
    jwt_role_config: "{{ jwt_role_config_json.stdout | from_json }}"
  when: jwt_role_exists

- name: Set JWT role configuration facts
  ansible.builtin.set_fact:
    jwt_role_config_bound_audiences: "{{ jwt_role_config.data.bound_audiences[0] | default('') }}"
    jwt_role_config_bound_subject: "{{ jwt_role_config.data.bound_subject }}"
    jwt_role_config_token_ttl: "{{ jwt_role_config.data.token_ttl }}"
    jwt_role_config_token_policies: "{{ jwt_role_config.data.token_policies[0] | default('') }}"
  when: jwt_role_exists

- name: Write JWT role
  kubernetes.core.k8s_exec:
    namespace: "{{ vault_ns }}"
    pod: "{{ vault_pod }}"
    command: >
      vault write auth/jwt/role/{{ jwt_role.name }}
        role_type=jwt
        user_claim=sub
        bound_audiences={{ jwt_role.audience }}
        bound_subject={{ jwt_role.subject }}
        token_ttl={{ jwt_role.ttl | default('86400') }}
        token_policies={{ jwt_role.policies | default(['{}-secret'.format(vault_global_policy)]) | join(',') }}
  when: not jwt_role_exists or
        not jwt_role_config_bound_audiences == jwt_role.audience or
        not jwt_role_config_bound_subject == jwt_role.subject or
        not jwt_role_config_token_ttl == jwt_role.ttl | default('86400') or
        not jwt_role_config_token_policies == jwt_role.policies | default(['{}-secret'.format(vault_global_policy)]) | join(',')
