---
- name: Check oc availability
  ansible.builtin.command: oc version --client=true -o yaml
  register: _oc_probe
  failed_when: false

- name: Print oc missing/error message and exit (if not installed)
  ansible.builtin.assert:
    that: _oc_probe is not failed
    fail_msg: |
      oc is not installed or not on PATH.
      Try running your command again with the './pattern.sh' script, inside the
      utility-container, or locally after installing oc and verifying it is available on PATH.

- name: Parse oc version output
  ansible.builtin.set_fact:
    _oc_version: "{{ _oc_probe.stdout | from_yaml }}"

- name: Report oc version
  ansible.builtin.debug:
    msg: |
      {{ _oc_version.releaseClientVersion | default('unknown') | trim }}
