---
- name: Ensure oc is available
  ansible.builtin.include_role:
    name: oc_check

- name: Check that we are logged into a cluster
  ansible.builtin.shell: |
    oc cluster-info >/dev/null 2>&1
  register: check_oc_cluster
  ignore_errors: true

- name: Error out if we cannot get to the cluster
  ansible.builtin.fail:
    msg: |
      We could not log into the cluster. Please check your KUBECONFIG variable
      or your ~/.kube/config settings.
  when: check_oc_cluster is failed

- name: Ensure we have storage classes defined
  ansible.builtin.shell: |
    set -o pipefail
    printf "    storageclass: "
    count="$(oc get storageclass -o name 2>/dev/null | wc -l | tr -d ' ')"
    if [ "${count}" -eq 0 ]; then
      printf "WARNING: No storageclass found"
    else
      printf "OK"
    fi
