---
- name: Ensure helm is available
  ansible.builtin.include_role:
    name: helm_check

- name: Run helm template command
  ansible.builtin.command: |
    {{ helm_template_command }}
  args:
    chdir: "{{ pattern_dir }}"
  register: _helm_template

- name: Set rendered YAML fact
  ansible.builtin.set_fact:
    pattern_install_rendered_yaml: "{{ _helm_template.stdout }}"
