---
- name: Install the pattern via pattern-install chart
  ansible.builtin.import_playbook: operator_deploy.yml

- name: Load secrets (if not explicity disabled in values-global.yaml)
  ansible.builtin.import_playbook: load_secrets.yml

- name: Wait for pattern to finish installation (all Argo apps should be healthy/synced)
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    max_retries: 30
    retry_count: 0
    retry_delay: 60

  tasks:
    - name: Print start message
      ansible.builtin.debug:
        msg: "==> Waiting for all argo applications to be healthy/synced.\n"

    - name: Ensure oc is installed
      ansible.builtin.include_role:
        name: oc_check

    - name: Wait for all Argo applications to be healthy and synced with retry logic
      ansible.builtin.include_tasks: tasks/retry_argo_healthcheck.yml
