---
- name: Resolve defaults with ansible var/env var overrides
  ansible.builtin.import_tasks: resolve_overrides.yml

- name: Load values-global.yaml
  ansible.builtin.set_fact:
    values_global: "{{ lookup('file', pattern_dir + '/values-global.yaml') | from_yaml }}"

- name: Fail if global.pattern is missing
  ansible.builtin.shell: |
    printf "ERROR\n" > /dev/tty
    printf "    values-global.yaml does not define .global.pattern.\n" > /dev/tty
    printf "    Please set a value for pattern under the 'global' key.\n" > /dev/tty
    exit 1
  when: (values_global.global.pattern | default('') | string | trim) == ""

- name: Resolve pattern_name
  ansible.builtin.set_fact:
    pattern_name: >-
      {{
        pattern_name
          | default(lookup("env","PATTERN_NAME"), true)
          | default((values_global.global.pattern | string | trim), true)
      }}

- name: Fail if main.clusterGroupName is missing
  ansible.builtin.shell: |
    printf "ERROR\n" > /dev/tty
    printf "    values-global.yaml does not define .main.clusterGroupName.\n" > /dev/tty
    printf "    Please set a value for clusterGroupName under the 'main' key.\n" > /dev/tty
    exit 1
  when: (values_global.main.clusterGroupName | default('') | string | trim) == ""

- name: Set fact for main clustergroup
  ansible.builtin.set_fact:
    main_clustergroup: "{{ values_global.main.clusterGroupName | string | trim }}"
