---
- name: Resolve defaults with ansible var/env var overrides
  ansible.builtin.import_tasks: resolve_overrides.yml

- name: Load values-global.yaml
  ansible.builtin.set_fact:
    values_global: "{{ lookup('file', pattern_dir + '/values-global.yaml') | from_yaml }}"

- name: Ensure .global.pattern is set
  ansible.builtin.assert:
    that: (values_global.global.pattern | default('') | string | trim) != ""
    fail_msg: |
      values-global.yaml does not define .global.pattern.
      Please set a value for pattern under the 'global' key.

- name: Resolve pattern_name
  ansible.builtin.set_fact:
    pattern_name: >-
      {{
        pattern_name
          | default(lookup("env","PATTERN_NAME"), true)
          | default((values_global.global.pattern | string | trim), true)
      }}

- name: Ensure main.clusterGroupName is set
  ansible.builtin.assert:
    that: (values_global.main.clusterGroupName | default('') | string | trim) != ""
    fail_msg: |
      values-global.yaml does not define .main.clusterGroupName.
      Please set a value for clusterGroupName under the 'main' key.

- name: Set fact for main clustergroup
  ansible.builtin.set_fact:
    main_clustergroup: "{{ values_global.main.clusterGroupName | string | trim }}"
