---
- name: Resolve pattern_dir
  ansible.builtin.set_fact:
    pattern_dir: >-
      {{
        pattern_dir
          | default(lookup("env","PATTERN_DIR"), true)
          | default(lookup("env","PWD"), true)
          | default(lookup("pipe","pwd"), true)
      }}
